<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
     <add name="HaDat1" connectionString="Server=10.80.1.2\SQLEXPRESS2014;Database=zkdb;User Id=sa;Password=pec@123456;"/>
     <add name="log1" connectionString="Server=10.80.1.2\SQLEXPRESS2014;Database=managermentUser;User Id=sa;Password=pec@123456;"/>
      <add name="HaDat" connectionString="Server=(localdb)\mssqllocaldb;Database=zkdb;Trusted_Connection=True;ConnectRetryCount=0"/>
      <add name="log" connectionString="Server=(localdb)\mssqllocaldb;Database=managermentUser;Trusted_Connection=True;ConnectRetryCount=0"/>
    </connectionStrings>
</configuration>